.container{width:100%;height: 100px;}
nav{height: 80px;line-height: 80px;width: 100%;background-color: #eee;}
ul{float: right;margin:30px;}
li{display:inline-block;}
li:hover{background-color: pink;}
li a{text-decoration: none;list-style-type: none;padding: 30px;color:red;}